<div class="container">
    <div class="nav d-none d-xl-block">
                <ul>
                    <li class="navlogo"><a href="/"><img src="nav_logo.png"  alt="" srcset=""></a></li>
                    <li><a href="/detail">活動資料</a></li>
                    <li><a href="/secret">神秘顧客</a></li>
                    <li><a href="/public">公眾投票</a></li>
                    <li><a href="/result">得獎結果</a></li>
                    <li><a href="/event">得獎巡禮</a></li>
                    <li><a href="/history">歷屆回顧</a></li>
                    <li><a href="#" class="facebookshare"><img src="nav_facebook.png"  alt="" srcset=""></a></li>
                </ul>
    </div>
</div>
<div class="container-fuild">
    <div class="mobile-nav-trigger d-xl-none">
                <ul>  
                    <li>
                        <a href="#" class="icon" ng-show="nav" ng-click="showMobileNav()"><i class="fa fa-bars fa-2x" style="color:#fff;"></i> </a>
                        <a href="#" class="icon" ng-show="!nav" ng-click="closeMobileNav()"> 
                        <i class="fa fa-times fa-2x	" style="color:#fff;"></i>
                    </a>        
                    </li>  
                    
                    <li><a href="#" class="facebookshare"><img src="nav_facebook.png" style="width:30px; height:30px;"  alt="" srcset=""></a></li>
                    <li class="navlogo"><a href="/"><img src="nav_logo.png"  alt="" srcset=""></a></li>
                   
            </ul>
    </div>
    <div class="mobile-nav d-xl-none">
                    <ul>
                        
                        <li><a href="/detail">活動資料</a></li>
                        <li><a href="/secret">神秘顧客</a></li>
                        <li><a href="/public">公眾投票</a></li>
                        <li><a href="/result">得獎結果</a></li>
                        <li><a href="/event">得獎巡禮</a></li>
                        <li><a href="/history">歷屆回顧</a></li>
                        <li><a href="#" class="facebookshare"><img src="nav_facebook.png"  alt="" srcset=""></a></li>
                    </ul>
    </div>
</div>