<!DOCTYPE html>
<html lang="en" ng-app="bestmallApp">
<head>
<%- include('header.ejs') %>
</head>

<body ng-controller="homepageCon">
    <div class="fixedcloud"></div>
    <div class="container">
         <%- include('nav.ejs', {section: 'nominees'}) %>    
    </div>
    <div class="visual-container cloud">
        <img src="cloud1.png" alt="" srcset="" style="right: 100px;">
        <img src="cloud2.png" alt="" srcset="" style="left: 100px;">
        <img src="cloud3.png" alt="" srcset="" style="right: 100px;">
    </div>
    <div class="container" style="position:relative; min-height: 850px;">
           <div class="visual-container"><img id="logo" src="logo.png" alt="" srcset=""></div>   
           <div class="visual-container"><img id="dog3" src="dog3.png" alt="" srcset=""></div>   
           <div class="visual-container"><img id="dog2" src="dog2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="visual" src="visual2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="building1" src="building1.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="building2" src="building2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated bounce infinite slow delay-2s" id="glasses" src="glasses.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="tail" src="tail.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="tram" src="tram.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated flipInX delay-2s" id="point1" src="point1.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated flipInX delay-3s" id="point2" src="point1.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated flipInX delay-5s" id="heart1" src="heart1.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated infinite tada" id="heart2" src="heart2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated infinite tada delay-2s" id="heart3" src="heart2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated infinite tada delay-5s" id="heart4" src="heart2.png" alt="" srcset=""></div> 

           <div class="visual-container"><img class="animated infinite tada" id="heart5" src="heart2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated infinite tada delay-2s" id="heart6" src="heart2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img class="animated infinite tada delay-5s" id="heart7" src="heart2.png" alt="" srcset=""></div> 

           <div class="visual-container"><img id="popcorn1" src="popcorn1.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="popcorn2" src="popcorn2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="popcorn3" src="popcorn3.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="popcorn4" src="popcorn4.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="popcorn5" src="popcorn1.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="popcorn6" src="popcorn2.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="popcorn7" src="popcorn3.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="popcorn8" src="popcorn4.png" alt="" srcset=""></div>
           <div class="visual-container" id="popcorncontainer"></div>

           <div class="visual-container"><img id="car1" src="car1.png" alt="" srcset=""></div> 
           <div class="visual-container"><img id="car2" src="car2.png" alt="" srcset=""></div> 
            
    </div>
    <div class="container">
        <h1>入圍名單</h1>
    </div> 
    
    
</body>

</html>
