<!DOCTYPE html>
<html lang="en" ng-app="bestmallApp">
<head>
<%- include('header.ejs') %>
</head>

<body ng-controller="publicCon">
<div class="fixedcloud"></div>
<%- include('nav.ejs', {section: 'public'}) %>    

    <div class="section-bg parallax" data-velocity=".6">
        <img src="blurvisual.png" alt="" srcset="">   
    </div>    
    <div class="visual-container cloud">
        <img src="cloud1.png" alt="" srcset="" style="right: 100px;">
        <img src="cloud2.png" alt="" srcset="" style="left: 100px;">
        <img src="cloud3.png" alt="" srcset="" style="right: 100px;">
    </div>    
    <div class="container-fuild  d-xl-none mobile-visual">
        <img class="img-fluid" src="mobile_public_main.png" alt="" srcset="">  
    </div>
    <div class="section-visual-container  d-none d-xl-block">
        <div class="visual">
           <img id="main" src="public_main.png" alt="" srcset="">
           <img id="checkviusal" src="check.png" alt="" srcset="">
           <img id="paper" class="animated flipInY delay-1s" src="paper.png" alt="" srcset="">
        </div> 
    </div>

 
<div class="section-form-container" >  
            <div class="formbox1" style="margin-top: -70px;">
                 <p>多謝閣下參與，公眾投票經已結束。
                 <br>
                 得獎者將於2019年2月28日或之前獲電郵通知得獎詳情。</p>
            </div>     
</div>
<%- include('footer.ejs') %>
<%- include('./animation/public.ejs') %>
</body>

</html>
