<div id="apm" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_apm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="http://campaign.nextdigital.com.hk/video_sales/bestmallawards/apm_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友很好多種，如果喜歡吃喝玩樂的話，帶她來apm就對了！以年輕人為主打的apm，一直緊貼潮流強化商戶組合，不斷引入不同的國際潮流品牌和人氣潮流輕食。在這裡，大家都是志同道合的自己人！所以能夠榮獲Next Mobile頒發最佳玩樂享受動MALL王大獎，當然實至名歸！</p>
                    <img src="apm_1.jpg">
                    <p class="caption">apm從經營理念、設計格調、租戶組合以至推廣活動等都力求突破，貼緊市場，務求令商場更具吸引力。</p>
                    <p>為滿足目標客群的需要及口味，apm每年舉辦過千個節目，包括多元化的主題推廣活動、大型裝飾佈置、快閃文化活動、人氣韓星簽唱會、室內深宵市集及潮流藝術展覽等，每個月、甚至每星期都有新東西玩！</p>
                    <img src="apm_2.jpg">
                    <p class="caption">apm多元化的主題節目，為顧客提供日夜無間的玩樂享受。</p>
                    <p>apm更開創商場快閃店潮流，夥拍超人氣品牌開設特色主題快閃店，每次都是城中熱話！</p>
                    <img src="apm_3.jpg">
                    <p class="caption">apm與多個超人氣品牌合作快閃店，不斷為顧客帶來新鮮感。</p>
                    <p>另外，apm亦持續優化設施及服務，例如引入電子商場資訊系統、儲物櫃及手提電話充電櫃等。為緊貼數碼年代的消費要求，apm與時並進推出全新個人化手機程式，只要透過手機輕輕一按，會員可隨時隨地儲分及換領每月禮品獎賞。透過手機應用程式，顧客亦可即時取票輪候及預訂餐廳座位服務，享受更便捷、更優越的購物體驗。</p>
                </div>
            </div>
        </div>    
    </div>
</div>  
