<div id="cityplaza" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_cityplaza">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/CityPlaza_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果喜歡經常開開心心地去玩的話，帶她來這裏就對了。</p>
                    <p>太古城中心是港島區最大的購物商場，他們以「LIVE HAPPY」的品牌理念，將商場建立成為不折不扣的快樂大本營。</p>
                    <img src="cp_1.jpg">
                    <p class="caption">太古城中心開設不同購物專區，為顧客提供多元化的消閒購物及生活新體驗。</p>
                    <img src="cp_2.jpg">
                    <p class="caption">全新開幕的戲院MOViE MOViE Cityplaza，附有藝術和休憩空間。</p>
                    <p>太古城中心除了擁有超過70間食肆外，還為不同年齡層的顧客，打造購物以外的生活消閒好去處。就如剛剛全新開幕的戲院MOViE MOViE Cityplaza，裏面附有一個house by kubrick藝術空間，會定期舉行不同主題的展覽活動。逛到餓了還可以品嚐精品咖啡和手工烘焙麵包，看完電影和展覽更可以到溜冰場玩樂，真是非常適合動靜皆宜的朋友們。</p>
                    <img src="cp_3.jpg">
                    <p class="caption">全港最大的兒童館，有專人為小朋友講故事。</p>
                    <img src="cp_4.jpg">
                    <p class="caption">家長亦可和小朋友一起參與工作坊，製作別樹一幟的藝術品。</p>
                    <p>充滿生活品味的誠品，在太古城中心開設了全港最大的兒童館。這裏除了定期會有講故事環節，讓小朋友可以「坐定定」聽故事之外，還會不定期舉辦工作坊，讓大人和小朋友也可以一同做手作。</p>
                    <img src="cp_5.jpg">
                    <p class="caption">各式各樣嬰兒護理服務及設施一應俱全。</p>
                    <p>太古城中心還提供一系列的嬰兒護理服務，除了有育嬰室和租借手推車服務之外，還有暖奶器、母乳儲存袋和紙尿片等提供。設施如此齊備，難怪 Cityplaza太古城中心會榮獲Next Mobile頒發的「十大我最喜愛動MALL王大獎」！</p>
                </div>
            </div>
        </div>    
    </div>
</div>  