<div id="dpark" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_dpark">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/Dpark_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果喜愛小朋友的話，帶她來D．PARK愉景新城就對了！</p>
                    <img src="DP_1.jpg">
                    <p>D．PARK愉景新城作為「全港唯一多元智能兒童購物樂園」，以創新思維把「多元智能理論」融入商場，更特別設計「咚咚仔多元智能綜合課程」，獲多名香港知名學者認證，帶來一個能啓發香港小朋友的一站式親子購物玩樂及學習新據點。</p>
                    <img src="DP_2.jpg">
                    <p class="caption">免費室外巨型鯨魚遊樂埸-鯨魚花園</p>
                    <p>D．PARK每逢星期六、日都會舉行森林歷險大巡遊，這個全港首個室內樂園式巡遊表演，D．PARK朋友Donut、Ah Meow和小火車等等都會現身，還會派小禮物送給小朋友！</p>
                    <img src="DP_3.jpg">
                    <img src="DP_4.jpg">
                    <p class="caption">小朋友就可以一邊跟著巡遊，一邊聽精彩歷險故事。</p>
                    <p>童話故事王子會現身D．PARK「故事天地」，以英語向小朋友講故事。小朋友可免費參加故事天地，投入不同童話世界探險，體驗不同的故事場景。專業外籍老師更會以英語帶領活動，透過互動問答遊戲讓小朋友在輕鬆愉快的氣氛下學習英語。</p>
                    <img src="DP_5.jpg">
                    <p class="caption">小朋友就可以一邊跟著巡遊，一邊聽精彩歷險故事。</p>
                    <p>不單這樣，這裡定期都會舉行一些多元化親子活動例如全港幼小學生利是封創作大賽，鼓勵小朋友創作同多元發展。快看看這些得獎作品！得獎作品將會印製成利是封呢！</p>
                    <img src="DP_6.jpg">
                    <p class="caption">2018全港幼小學生利是封創作大賽得獎作品</p>
                    <p>D．PARK大部分商鋪都以親子為主題，好像全港首間兒童主題影院CANDY PARK BY CINEMA CITY、全新親子餐廳Play House Play Café和全港首間和熊本合作的味千拉麵，全部都這麼可愛小朋友一定很喜愛，玩得停不下來。</p>
                    <img src="DP_7.jpg">
                    <p class="caption">和BB來這裡玩，肯肯定可以建立良好的親子關係。</p>
                    <p>而且D．PARK有總共超過20間嬰兒用品和服裝的商鋪，Watsons Baby、Chicks、Chickeeduck、BeBe Dream等，全部都是嬰孩名牌，難怪D．PARK愉景新城榮獲最佳寶寶活動及設備動MALL王大獎！</p>
                    <img src="DP_8.jpg">
                    <p class="caption">爸媽來到D．PARK為BB買衫肯定有選擇困難症！</p>
                    <img src="DP_9.jpg">
                    <p class="caption">D．PARK連續兩年以最高分連膺「全港最佳育嬰室」之美譽，深受媽咪愛戴！</p>
                </div>
            </div>
        </div>    
    </div>
</div>  
