<div id="hollywood" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_hollywood">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/Hollywood_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果喜歡跟小朋友一起玩耍的話，帶她來荷里活廣場就對了！位於鑽石山的荷里活廣場，無論是商戶組合、食肆、娛樂、環境、服務設施、商場活動以至交通配套，均全面照顧到一家大小的需要，吸引一家大細到商場吃喝玩樂。</p>
                    <img src="Hollywood_cap001.jpg">
                    <p class="caption">荷里活廣場擁有多元化的商戶組合和服務設施，全面照顧由小朋友到大人所需。</p>
                    <img src="Hollywood_cap002.jpg">
                    <p class="caption">不時舉辦各類型親子活動，讓父母與孩子能享受與別不同的親子時間。</p>
                    <img src="Hollywood_cap003.jpg">
                    <p class="caption">活動有靜有動，在商場內亦可以讓小朋友盡情玩樂。</p>
                    <p>荷里活廣場除了每逢周末會有表演和展銷外，每個月更會舉辦不同類型的主題活動，讓大家可以和小朋友一同體驗、一同遊玩，共享親子樂！</p>
                    <img src="Hollywood_cap004.jpg">
                    <p class="caption">嬰兒設施及服務一應俱全，細心照顧初生母親的需要。</p>
                    <img src="Hollywood_cap005.jpg">
                    <p class="caption">定期推出不同主題的泊車優惠。</p>
                    <p>為了方便各位家長，荷里活廣場不但提供借用BB車服務，還設有獨立哺乳室和供應熱水。而每個月配合不同主題，車主更可以免消費享用3小時免費泊車優惠！荷里活廣場如此貼心，當然實至名歸榮獲Next Mobile頒發的「最佳親子動MALL王大獎」！</p>
                </div>
            </div>
        </div>    
    </div>
</div>  
