<div id="langham" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_langham">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/LP_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果喜愛美食的話，帶她來朗豪坊就對了！</p>
                    <img src="LP_1.jpg">
                    <p>朗豪坊擁有超過200間商戶，為城中型人的潮流熱點，集購物丶娛樂及餐飲設施於一身，主要商戶包括香港首間LEGO Store及4DX戲院CINEMA CITY、BEAUTY AVENUE、adidas Sportswear Collective Store、i.t、無印良品、MARKET PLACE by JASONS及亞洲最大的MARKS & SPENCER FOOD。</p>
                    <img src="LP_2.jpg">
                    <p class="caption">商場樓高15層，餐飲多元化，中西日韓泰菜一應俱全，更有不少特色食品，適合所有顧客群，無論是兩小口子、大夥朋友聚會還是一家大小，都能讓顧客隨時隨地可以品嚐到各國美食。</p>
                    <img src="LP_3.jpg">
                    <p class="caption">當中更引入多間香港或區內首間的零售及餐飲店舖，如最新進駐朗豪坊的桃園眷村、一芳水果茶、Cow Cow Cafe、Smiley® Cafe with eGG，均是香港首間店舖！難怪朗豪坊獲Next Mobile選為最滋你口味動MALL王大獎！</p>
                    <img src="LP_4.jpg">
                    <p class="caption">桃園眷村的鹹豆花配上豬排蛋燒餅一齊吃，幸福感滿瀉了！</p>
                    <img src="LP_5.jpg">
                    <p class="caption">Cow Cow Cafe的Cow Cow Ice芝士軟雪糕配上即場新鮮製作的車打芝士脆筒，還有香港獨家限定Tiramisu Roll意大利芝士卷，甜品控必試！</p>
                    <img src="LP_6.jpg">
                    <p class="caption">Smiley® Cafe焦糖爆谷雲朵雪糕大大個棉花糖入面有雪糕、爆谷同脆脆蛋卷，selfie呃like就最好不過了。</p>
                    <img src="LP_7.jpg">
                    <p class="caption">一芳台灣水果茶的招牌水果茶全用台灣新鮮水果熬成，真材實料，朗豪坊店更是全港首間分店。 </p>
                    <img src="LP_8.jpg">
                    <p class="caption">道頓堀御好燒專門店的雜錦御好燒可以自己親手燒，有得食又有得玩。</p>
                </div>
            </div>
        </div>    
    </div>
</div>  
