<div id="moko" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_moko">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/MOKO_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果喜愛購物的話，帶她來MOKO新世紀廣場就對了！</p>
                    <img src="moko_1.jpg">
                    <p>MOKO新世紀廣場，坐擁港鐵旺角東站旁的優越位置，提供72萬平方呎消閒空間，雲集多元化名店及食肆，設有多種消閑娛樂設施，MOKO更有區內及東鐵沿線唯一的IMAX影院及逾10,000平方呎的戶外兒童遊樂場，為旺角區最大型一站式商場之一。</p>
                    <p>作為區內旗艦商場，MOKO新世紀廣場集合五大最強商戶陣容，「潮流時尚」、「運動用品」、「兒童服飾」、「電影」、「餐飲」，聚焦區內消費力，體驗一站式消費新模式，更策略性優化以增加場內各層的人流及加強租戶組合的凝聚力，整合中庭空間，嶄新設計延伸無盡消閒體驗 全玻璃幕牆展現光與影的獨特視覺效果，全面提升商場配套。
                    </p>
                    <img src="moko_2.jpg">
                    <p class="caption">凡在MOKO新世紀廣場買美容產品，更可以成為MOKO Beauty Club會員，購物不單可以用MOKO VIP儲分換禮物，還可以儲印換現金券。</p>
                    <img src="moko_3.jpg">
                    <p class="caption">VIP Beauty Club Lounge還有五大夢幻打卡位selfie呢！</p>
                    <p>MOKO新世紀廣場重視顧客吃喝休閒的體驗，更特別引入不少區內以至香港首次亮相的商戶，帶領時下食尚玩樂潮流，例如Urban Café Commune、Crepe de licious、BROOKLYN、Outback Steakhouse，成功吸納具消費力的家庭及年輕客群以及各地旅客。難怪MOKO新世紀廣場獲Next Mobile選為最愛多元化購物動Mall王大獎！</p>
                    <img src="moko_4.jpg">
                </div>
            </div>
        </div>    
    </div>
</div>  
