<div id="telford" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_telford">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/Telford_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果怕悶的話，帶她來德福廣場就對了！作為東九龍區地標，德福廣場面積超過93萬平方呎，超過260間商舖，是區內商戶數量最多、種類最齊全的商場，真是每次來都有新發現呀！難怪榮獲Next Mobile頒發最佳創新體驗動MALL王大獎！</p>
                    <img src="TP_1.jpg">
                    <p class="caption">優化重整後的德福廣場，更多元化的商舖為顧客帶來更大便利，也為顧客提供更理想的購物和體驗。</p>
                    <p>德福廣場於2017年進行商戶組合擴展優化工程，現時有過百個時裝美容品牌，其中美容品牌多達38間，同時商場引入多達48間環球食肆，間間都備受歡迎！多元化的商舖組合，數量更是同區之冠！從健康美容、時裝品牌、電器產品、鐘錶珠寶、娛樂消閒、到惹人垂涎的珍饈美饌，務求為顧客提供最全面之餐飲及購物選擇。這麼多選擇，顧客來德福廣場，當然開心有得揀！ </p>
                    <img src="TP_2.jpg">
                    <p class="caption">37年來，德福廣場一直用心服務東九龍區居民，並成為九龍灣這個充滿活力及發展潛力的社區凝聚點。</p>
                    <p>今時今日，手機與港人生活密不可分。德福廣場自2014年推出手機應用程式，「Smart Telford」消費儲分計劃獎賞以來，一直深受歡迎！ </p>
                    <img src="TP_3.jpg">
                    <p class="caption">德福廣場的顧客服務員隨時候命，解決顧客需要。</p>
                    <p>德福廣場重視與顧客的互動體驗，更於2017年進一步優化，為顧客提供更為個人化的手機應用程式「Smart Telford」顧客獎賞計劃。顧客還可以用「自助登記積分」功能，自己拍低單據並上載至「Smart Telford」儲分，更方便地獲得更多優惠。 </p>
                </div>
            </div>
        </div>    
    </div>
</div>  
