<div id="theone" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_theone">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/theone_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果喜歡潮流玩意的話，帶她來這裏就對了。在尖沙咀的The ONE，它的外牆是採用獨特的「Vertical Street」垂直向上室內設計概念，配合幾何圖形交織的設計和燈光效果，單看外型已經夠潮，相當有「睇頭」！</p>
                    <img src="theone_1.jpg">
                    <p class="caption">The ONE是全香港最高純零售商場，總面積超過 400,000 平方呎。</p>
                    <p>全棟有23 層樓的The ONE，是全港最高的純零售商場，擁有超過130間的零售店舖和食肆，各式各樣的商店應有盡有。</p>
                    <img src="theone_2.jpg">
                    <p class="caption">The ONE匯聚各種自家設計以及來自世界各地的人氣品牌。</p>
                    <p>除了自家設計的品牌如RDM Store，還有來自世界各地的人氣品牌都可以在The ONE找到。就如來自法國的AIGLE和日本女裝鞋ORientalTRaffic等，還有集合了不同國家設計師手筆的禮品店monoyono和家品店INFINITE，務求將生活和藝術品味集於一身。 </p>
                    <img src="theone_3.jpg">
                    <p class="caption">今個農曆新年The ONE以可愛的Pochacco (PC狗)打造「The ONE‧Pochacco 新春行運樂團圓」賀年大型裝置, 與大家一起迎接狗年。</p>
                    <img src="theone_4.jpg">
                    <p class="caption">The ONE不時舉辦歌星簽唱會讓大家可以近距離接觸偶像。</p>
                    <p>The ONE會定時舉行大型節日主題活動，例如農曆新年的節日裝飾和禮品換領，更有歌星簽唱會和各類消費獎賞，真的每個月到商場都不會厭！無論裏裏外外都這樣潮，The ONE理所當然能夠榮獲Next Mobile頒發的「最具潮流觸覺動MALL王大獎」，以後約會就不用擔心沒有地方去了。</p>
                </div>
            </div>
        </div>    
    </div>
</div>  
