<div id="vcity" class="modal fade advertorial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header logo_vcity">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    < 返回
                </button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="https://campaign.nextdigital.com.hk/video_sales/bestmallawards/Vcity_video.mp4" type="video/mp4">
                </video>
                <div class="advertorialBody">
                    <p>女朋友有好多種，如果追求電子科技，着重生活的話，帶她來V city就對了！位於屯門港鐵站上蓋的V city就以科技優化商場服務，加強與顧客的聯繫。在數碼化的年代，行街都要具數碼化才是皇道，難怪V city榮獲Next Mobile頒發最佳科技互動動MALL王大獎！</p>
                    <img src="Vcity_cap001.jpg">
                    <p class="caption">V city坐落港鐵屯門站上蓋，是多項大型交通交滙處，滙聚近130間國際和本地著名時尚品牌，為顧客提供多元化購物體驗。</p>
                    <p>為節省顧客輪候食肆座位時間，V city的手機App有「搵食e」，遙距電子訂枱智能系統功能，那就可以節省時間於匯聚26個星級美容品牌「I'm Bella美容專區」瘋狂購物！此外，V city亦都引進了全港覆蓋最全面的iBeacon定位技術，覆蓋至過百間商舖，當顧客抵達指定範圍就會接獲推送通知，提供商戶的獨家優惠資訊。</p>
                    <img src="Vcity_cap002.jpg">
                    <p class="caption">顧客只需預先設定最喜愛的商戶，到達商場時只要開啟藍牙系統，手機就會透過iBeacon定位技術自動推送你最喜愛的商戶優惠資訊。
                    </p>
                    <p>購物買到一袋二袋，嫌重又嫌不方便？V city於場內引入「E-locker智能櫃」，提供寄件服務，務求為顧客帶來最貼心又優質的購物體驗。
                    </p>
                    <img src="Vcity_cap003.jpg">
                    <p class="caption">將戰利品寄存於「E-locker智能櫃」，繼續瘋狂Shopping！</p>
                    <p>排隊兌換泊車時數，是不少駕駛人士的惡夢。用V city手機應用程式內全港首創的「泊車Fun分賞」功能，就可以用「獎賞e」儲的積分兌換泊車時數，直接出車不用排隊，非常方便！此外，一按「搵車e」功能更可於到訪前即時查看現有車位數目，亦能查閱入車時間、泊車地點、收費等資料，那就無須再為超時泊車或忘記泊車位置而煩惱了！</p>
                    <img src="Vcity_cap004.jpg">
                    <p class="caption">有「獎賞e」、「搵車e」功能，各位有車之人想取車就無需排隊，直接出車，方便得多！</p>
                </div>
            </div>
        </div>    
    </div>
</div>  
