$break-small: 1199px;
.visual-container img{
    position: absolute;
    z-index: 4;
}
#logo1{
    margin-left: auto;
    margin-right: auto;
    left: -21px;
    right: 0;
    top: 81px;
}
#logo2{
    margin-left: auto;
    margin-right: auto;
    left: 74px;
    right: 0;
    top: 31px;
}
#logo3{
    margin-left: auto;
    margin-right: auto;
    left: 159px;
    right: 0;
    top: 69px;
}
#logo4{
    margin-left: auto;
    margin-right: auto;
    left: 51px;
    right: 0;
    top: 110px;
}
#visual{
    left: 17px;
    top: 115px;
    z-index: -1;
}
#dog2{
    left: 259px;
    top: 160px;
    z-index: 2;
}
#dog3{
    left: 259px;
    top: 160px;
    z-index: 5;
}
#building1{
    left: 264px;
    top: 391px;
    z-index:5;
} 
#building2{
    left: 608px;
    top: 293px;
    z-index:5;
}
#tail{
    left: 425px;
    top: 155px;
    z-index: -1;
    transform-origin: left bottom;
    animation: tailrotation 2s infinite linear;
}
#glasses{
    left: 272px;
    top: 217px;
    z-index: 6;
}
#tram{
    left: 341px;
    top: 204px;
}
#point1{
    left: 410px;
    top: 347px;
}
#point2{
    left: 462px;
    top: 201px;
}
#heart1{
    left: 617px;
    top: 258px;
}
#heart2{
    left: 544px;
    top: 475px;
}
#heart3{
    left: 520px;
    top: 461px;
}
#heart4{
    left: 497px;
    top: 448px;
}
#heart5{
    left: 783px;
     top: 313px;
}
#heart6{
    left: 758px;
    top: 299px;
}
#heart7{
    left: 733px;
    top: 285px;
}

#popcorn1,#popcorn5{
    left: 820px;
    top: 155px;
}
#popcorn2{
    left: 833px;
    top: 167px;
}
#popcorn3{
    left: 799px;
    top: 161px;
}
#popcorn4{
    left: 824px;
    top: 167px;
}
#popcorn6{
    left: 821px;
    top: 176px;
}
#popcorn7{
    left: 781px;
    top: 170px;
}
#popcorn8{
    left: 841px;
    top: 167px;
}
#car1{
    left: 86px;
    top: 359px;
}
#car2{
    left: 226px;
    top: 411px;
}

#nominate{
    left: 235px;
    top: 812px;
    @media screen and (max-width: $break-small) {
        left: 31vw;
        top: 72vw;
        width: 13vw;
        position: absolute;
    }
}
.cloud{
    width: 3600px;
    height: 500px;
    position: fixed;
    background: url('../../public/cloud_bg3.png') repeat-x ; 
    animation: slide 30s linear infinite;
    z-index: -1;
}

@keyframes slide {
    0%{
        transform: translate3d(0, 0, 0);
      }
      100%{
        transform: translate3d(1200px, 0, 0); /* The image width */
      }
}

@keyframes tailrotation {
    0% { transform: rotate(0) }
    50% { transform: rotate(20deg) }
    100% { transform: rotate(0deg) }
}
@keyframes animcloud{
    0% { transform: translateX(50px) }
    50% { transform: translateX(-50px) }
    100% { transform: translateX(50px) }
}

.fixedcloud{
    z-index:-1;
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url('../../public/cloud_bg.png') repeat-x ; 
    background-size: contain; 
}
